body {
	font-family: Verdana, Arial, Geneva, Arial Black;
	font-weight: normal;
	font-size: 15px;
}

#Container {
	width: 1000px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	background: white;
}


#Header {
	height: 75px;
	background-color: white;
	text-align: center;
	display: table;
	vertical-align: middle;
	color: white;
	font-size: 75%;
	font-family: Arial;
}

#SideBar {
	width: 265px;
	height: auto;
	float: right;
	background: #FFA500;
	line-height: 1.5em;
	padding: 5px;
}

#SideBarlogo {
    width:265px;
    height auto;
    float: right;
    background: white;
}

#MainBody {
	width: 700px;
	float: left;
	padding: 5px;
	font-size: 80%;
	line-height: 1.5em;
	
}

#Footer {
	clear: both;
	width: auto;
	height: auto;
	font-size: 60%;
	text-align: center;
	padding: 10px;
	background: black;
	color: white;
}


.imagec{
	float: right;
	float: top;
	height: auto;
	max-width: 27.7%;
}

.imageclogo{
	display: block;
	margin: auto;
	float: top;
	height: auto;
	max-width: 70%;
}

.label{
	font-weight: bold;
	line-height: 2.5em;
	font-size: 110%;
}

.underline{
	text-decoration: underline;
}

<!-- START: This is for the drop-down menu -->
<style media="screen">
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 60%;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child{
    background-color: #dddddd;
  }
</style>
<!-- END: For the drop down menu -->